# -*- coding: utf-8 -*-

{## Start with  defaults from defaults.sls ##}
{% import_yaml 'crontab/defaults.yaml' as default_settings %}

{## setup variable using grains['os_family'] based logic ##}
{% set os_family_map = salt['grains.filter_by']({
        'Debian': {},
        'RedHat': {},
  }
  , grain="os_family"
  , merge=salt['pillar.get']('crontab:lookup'))
%}
{## Merge the flavor_map to the default settings ##}
{% do default_settings.crontab.update(os_family_map) %}

{## Merge in crontab:lookup pillar ##}
{% set crontab = salt['pillar.get'](
        'crontab',
        default=default_settings.crontab,
        merge=True
    )
%}

